/*body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url(santa2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}  */
body{
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 85px;
    margin: 200px 0 0 0;
    /* text-shadow: 3px 3px white; */
}

.logo_boja{
    color: orange;
}

.uvodni_paragraf{
    text-align: center;
    font-size: 30px;
    padding: 40px;
}

button{
    display: block;
    width: 180px;
    line-height: 50px;
    border: 2px solid orange;
    margin: 100px auto;
    font-size: 22px;
    text-shadow: 1px 1px black;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.15);
    color: white;
    text-decoration: none;    
}

button a{
    text-decoration: none;
    color: black;
}

#demo{
    color: black;
    font-size: 35px;
    text-align: center;
}

.odbrojavanje{
    text-align: center;

}